/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: pixel;
    src: url(fonts/w95fa/W95FA.otf);
}
@font-face {
    font-family: comicsansms;
    src: url(fonts/ComicSansMS/ComicSansMS.ttf );
}

/* Variables */
:root {
    /* Colors */
    --white: #ffffff/*#FFEDFA*/;
    --black: #09122C;
    --green: #3BFF00;
    --blue-darker: #000084;
    --blue:#2F00FF;
    --grey: #C0C0C0;
    --grey-darker: #777777;
    /* Fonts */
    --fs1: 1rem;
    --fs2: 1.5rem;
    --fs3: 0.6rem;
    --fs4: 0.75rem;
    --ff1: pixel;
    --ff2: comicsansms;
    /* Space */
    --spacing1: 30px;
    --height-window: 24px;
    --window-padding: 10px;
    --content-padding: 20px;
    --content-padding-top: 15px;
    /* Border */
    --border-width1: 1px;
    --border-width2: 4px;
}

#only-phone {
    visibility: hidden;
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

@media (width >= 500px) {
    #only-phone {
        visibility: visible;
        z-index: 2;
    }
}


/* General */
body {
    overflow-y: scroll;
}
header {
    height: 80px;
    width: 100%;
    scroll-behavior: scroll;
    background-image: url(images/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    scroll-behavior: scroll;
}
c-icon {
    flex: 1;
    aspect-ratio: 1;
    /*border: solid 1px black;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/ellipse.png);
    background-size: cover;
}

c-icon .icon-title {
    color: var(--white);
    font-family: var(--ff2);
    font-size: var(--fs4);
}
main {
    height: 100%;
    width: 100vw;
    background-image: url(images/background.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing1) var(--spacing1);
    gap: var(--spacing1);
    overflow-x: hidden;
}

#welcome {
    width: 100%;
    text-align: center;
    font-family: var(--ff2);
    font-size: var(--fs2);
    color: var(--green);
    text-shadow: #444b5e 2px 2px;
    animation-duration: 6s;	
	animation-name: HorizontalScroll;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes HorizontalScroll {
	from {transform: translateX(100%) }
	to {transform: translateX(-100%);}
}

/* Windows 95 */
c-window {
    width: 100%;
    aspect-ratio: 1.8;
    outline-offset: calc( (var(--border-width1) + var(--border-width2)) * -1);
    outline: solid var(--grey) var(--border-width2);

    border-right: solid var(--black) var(--border-width1);
    border-bottom: solid var(--black) var(--border-width1);
    border-top: solid var(--white) var(--border-width1);
    border-left: solid var(--white) var(--border-width1);

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff1);
}
c-window .top {
    width: 100%;
    color: var(--white);
    height: var(--height-window);
    background: linear-gradient(0.25turn, var(--blue-darker), var(--blue));
    padding: var(--border-width2) var(--window-padding) 0 var(--window-padding);
    display: flex;
    align-items: center;
}
c-window .bottom {
    color: var(--black);
    width: 100%;
    height: var(--height-window);
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 0 var(--border-width2);
}
c-window .bottom .bottom-box{
    height: calc(100% - 2*var(--border-width2));
    border-right: solid var(--white) var(--border-width1);
    border-bottom: solid var(--white) var(--border-width1);
    border-top: solid var(--grey-darker) var(--border-width1);
    border-left: solid var(--grey-darker) var(--border-width1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs3);
}
c-window .bottom .bottom-left {
    width: 40%;
}  
c-window .bottom .bottom-right {
    width: 60%;   
}
c-window .content {
    gap: 10px;
    flex-grow: 1; 
    width: calc(100% - 2*var(--border-width2));
    background-color: var(--white);
    padding: var(--content-padding-top) var(--content-padding);
    border-right: solid var(--white) var(--border-width1);
    border-bottom: solid var(--white) var(--border-width1);
    border-top: solid var(--black) var(--border-width1);
    border-left: solid var(--black) var(--border-width1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reverse .content {
    flex-direction: row-reverse;
}
c-window .content .content-image {
    width: 30%;
}
c-window .content .content-image img{
    width: 100%;
    max-height: 80px;
    aspect-ratio: initial;
}
c-window .content .content-text {
    width: auto;
    text-align: left;
}
c-window .close-button {
    height: 16px;
    aspect-ratio: 1;
    border-radius: 0;
    font-family: var(--ff1);
    font-size: var(--fs1);
}

/* Bannner */
c-banner {
    width: 90%;
    aspect-ratio: 4;
    background-color: orange;
}
c-banner img {
    width: 100%;
    height: 100%;
}


/* Pop up */
c-popup {
    display: none;
    width: 50%;
    aspect-ratio: 1.5;
    background-image: url(images/popup/pill.png);
    background-size: contain;
    position: fixed;
    z-index: 1;
    right: 0;
    margin-right: 20px;
    animation-duration: 0.5s;	
	animation-name: Apparition;
	animation-iteration-count: 1;
	animation-timing-function: ease;
    justify-content: flex-end;
}


@keyframes Apparition {
    0% {
      transform: translateX(500px);
    }

    100% {
      transform: translateX(0);
    }
  }

@keyframes Disparition {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(500px);
    }
  }
c-popup .close-button {
    height: 16px;
    aspect-ratio: 1;
    border: none;
    font-family: var(--ff1);
    font-size: var(--fs2);
    background-color: rgb(0, 0, 0, 0);
}
